<table class="table">
    <thead>
      <tr>
        <th>Dish Name</th>
        <th>Short Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in list.found">
      <tr>
        <td>{{item.name}}</td>
        <td>({{item.short_name}})</td>
        <td>{{item.description}}</td>
        <td><button class="btn btn-danger" ng-click="list.onRemove({index: $index})">
              Don't Want This One
            </button>
        </td>
      </tr>
    </tbody>
  </table>

<div class="row" ng-if="list.isEmpty()">
  <div class="well">
    <h3>Nothing found</h3>
  </div>
</div>
